<!-- <button (click)="getProductAll()">Probar</button>


<button (click)="getRegister()">Agregar</button>


<button (click)="getUpdate()">Actualizar</button>


<button (click)="getDelete()">Eliminar</button> -->

<!-- <app-product-all [products]="products"></app-product-all> -->

<!-- <router-outlet></router-outlet>

<button routerLink="/add-product">Agregar</button>

<app-product-all 
  [products]="products"
  (productsChange)="onProductsChange($event)">
</app-product-all> -->

<router-outlet></router-outlet>


<!-- <app-responsive-table [products]="products"></app-responsive-table> -->
