.table-container {
    overflow-x: auto;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .responsive-table th {
    background-color: #f4f4f4;
  }
  
  .logo-img {
    max-width: 100px;
    max-height: 50px;
  }
  
  .form-control {
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
  }

  .dropdown-menu a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-menu a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }



  /* Modal */

  /* Estilo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: #d9534f; /* Rojo */
  color: white;
}

.modal-actions button:last-child {
  background-color: #f0f0f0; /* Gris claro */
}
