.divCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-field:invalid {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .reset-button {
    background-color: #e0e0e0;
    color: #000;
  }

  .return-button{
    background-color: deepskyblue;
    color: #000;
  }
  
  .submit-button {
    background-color: #fbd648;
    color: #000;
  }
  
  @media (max-width: 767px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-group {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .button-group {
      flex-direction: column;
    }
  
    .button-group .button {
      margin-bottom: 10px;
    }
  }  

  .input-error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }  